.navbar
{
    background-color: #dcdcdc;
    text-align:center;
}
.nav-link {
    padding: 5px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 10px 10px;
    width: 100px;
    padding: 10px 0;
    /* box-shadow: 0 0 20px rgba(104, 85, 224, 0.2); */
    transition: 0.4s;
    color:  black;
    border: 1px solid rgba(104, 85, 224, 1);
}
.nav-link:hover 
{
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}
.nav-link.active 
{
    text-decoration: underline;
}
.ab{
    background-color: rgb(104, 85, 224);
    margin:10px;
    color: rgba(255, 255, 255, 1);
    display:block;
}
.Heading
{
    font-weight: 800;
    font-size: large;
    margin: 10px;
    
}